.quiz-product h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 1.6em;
	color: var(--white);
	text-transform: uppercase;
}
.quiz-products {
	opacity: 0;
	transition: all 1s ease-in-out;
}
.quiz-products.active {
	opacity: 1;
}