.quiz-product h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 1.6em;
	color: var(--white);
	text-transform: uppercase;
}
.quiz-products {
	opacity: 0;
	transition: all 1s ease-in-out;
}
.quiz-products.quiz-active {
	opacity: 1;
}
.quiz-products.quiz-loading {
	opacity: 0.26;
}

.quiz-products + .quiz-loading-anim {
	position: fixed !important;
}