.info {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.info .container {
	display: inline-block;
	padding: 15px 20px;
	position: absolute;
	bottom: 2px;
	max-width: 80px;
	max-height: 54px;
	transition: all 0.4s ease-in-out;
	z-index: 1;
	overflow: hidden;
	cursor: pointer;
}
.info .container:hover {
	background: rgb(5,5,5);	
}
.info .container::-webkit-scrollbar {
	width: 10px;
}
.info .container::-webkit-scrollbar-thumb {
	background: rgb(10,10,10);
}

.info .content {
	width: 300px;
	position: relative;
}

.info h5 {
	font-family: 'Oswald', sans-serif;
	padding-bottom: 15px;
	font-weight: 400;
	font-size: 1.1em;
	color: var(--blue);
	text-transform: uppercase;
}
.info h5::after {
	content: 'SOBRE'
}

.info .content p {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: var(--white);
	overflow: hidden;
}

.info.opened .container {
	max-width: 340px;
	max-height: 90vh;
	background: rgb(5,5,5);
	overflow-y: auto;
	cursor: default;
}

.info span {
	position: absolute;
	top: 0;
	right: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 0.6em;
	color: var(--white);
	transform: scale(2, 1);
	padding: 7px;
	cursor: pointer;
}

@media only screen and (max-width: 380px) {
	.info .content {
		width: calc(100vw - 90px);
	}
	.info .container {
		padding: 18px 20px;
	}
	.info .container:hover {
		background: var(--black);
	}
	.info.opened .container:hover {
		background: rgb(5,5,5);
	}
	.info h5 {
		text-transform: unset;
		font-size: 0.9em;
	}
	.info h5::after {
		content: 'i';
		padding: 1px 10px;
		border: 1px solid var(--blue);
		border-radius: 50%;
	}
}