.quiz-questions {
	display: flex;
	justify-content: center;
	background: var(--black);
	height: 100vh;
	outline: 0;
}
.quiz-questions .quiz-wrapper {
	display: flex;
	flex-direction: column;
	width: 480px;
	height: 100%;
	transition: all 0.5s ease-in-out;
	transition-delay: 0.4s;
}

.quiz-questions.quiz-loading .quiz-wrapper {
	opacity: 0
}

.quiz-questions .quiz-bottom {
	position: relative;
	margin-bottom: 5vh;
}

.quiz-questions .quiz-buttons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

.quiz-questions button {
	position: relative;
	padding: 15px 20px;
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	outline: 0;
	border: none;
	text-transform: uppercase;
	background: transparent;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}
.quiz-questions button:nth-child(1) {
	color: var(--white);
	opacity: 0.26
}
.quiz-questions button:nth-child(2) {
	color: var(--blue);
}

.quiz-questions button::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	transition: all 0.2s ease-in-out;
}
.quiz-questions button:nth-child(1)::after {
	background: var(--white)
}
.quiz-questions button:nth-child(2)::after {
	background: var(--blue)
}
.quiz-questions button:hover::after {
	width: 100%;
}

.quiz-questions button:disabled {
	opacity: 0.26;
	cursor: default;
}
.quiz-questions button:disabled:hover::after {
	width: 0;
}

.quiz-questions .quiz-loading-anim:nth-child(1) {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

@media only screen and (max-width: 480px) {
	.quiz-questions .quiz-wrapper {
		padding: 0 20px;
	}
}