.question {
	transform: translate(0, -50%);
	transition: all 0.5s ease-in-out;
}
.question h2 {
	position: relative;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 1.6em;
	color: var(--blue);
	text-transform: uppercase;
}
.question h2::after {
	content: '';
	position: absolute;
	left: 0;
	top: 100%;
	width: 26%;
	height: 4px;
	background: var(--blue);
	transition: all 0.2s ease-in-out;
}

.question.loading {
	opacity: 0.35;
}

.question.half-gone {
	opacity: 0.26;
	transform: translate(0, -50%) scale(0.95);
}
.question.half-gone h2::after {
	width: 13%;
}

.question.gone {
	opacity: 0;
	transform: translate(0, -50%) scale(0.9);	
}
.question.gone h2::after {
	width: 0;
	transition: all 0.2s ease-in-out;
}