.quiz-question {
	transform: translate(0, -50%);
	transition: all 0.5s ease-in-out;
}

.quiz-question.quiz-loading {
	opacity: 0.35;
}

.quiz-question.quiz-half-gone {
	opacity: 0.26;
	transform: translate(0, -50%) scale(0.95);
}
.quiz-question.quiz-half-gone h2::after {
	width: 13%;
}

.quiz-question.quiz-gone {
	opacity: 0;
	transform: translate(0, -50%) scale(0.9);	
}
.quiz-question.quiz-gone h2::after {
	width: 0;
	transition: all 0.2s ease-in-out;
}