.quiz-answer input[type="radio"], 
.quiz-answer input[type="checkbox"] {
	outline: 0;
	opacity: 0;
}
.quiz-answer input[type="radio"]+label::before, 
.quiz-answer input[type="radio"]+label::after, 
.quiz-answer input[type="checkbox"]+label::before, 
.quiz-answer input[type="checkbox"]+label::after {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-50%, -50%);
	transition: all 0.2s ease-in-out;
}
.quiz-answer input[type="radio"]+label::before, 
.quiz-answer input[type="radio"]+label::after {
	border-radius: 50%;
}

.quiz-answer input[type="radio"]+label::before,
.quiz-answer input[type="checkbox"]+label::before {
	content: '';
	width: 16px;
	height: 16px;
	border: 2px solid var(--white);
}
.quiz-answer input[type="radio"]:checked+label::before,
.quiz-answer input[type="checkbox"]:checked+label::before {
	border-color: var(--blue);
}
.quiz-answer input[type="radio"]+label::after,
.quiz-answer input[type="checkbox"]+label::after {
	content: '';
	width: 0;
	height: 0;
	background: var(--blue);
}
.quiz-answer input[type="radio"]:checked+label::after,
.quiz-answer input[type="checkbox"]:checked+label::after {
	width: 9px;
	height: 9px;
}

.quiz-answer input[type="radio"]+label,
.quiz-answer input[type="checkbox"]+label {
	position: relative;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 1.1em;
	color: var(--white);
	display: inline-block;
	padding-left: 20px;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}
.quiz-answer input[type="radio"]:checked+label,
.quiz-answer input[type="checkbox"]:checked+label {
	color: var(--blue);
}

.quiz-answer input[type="text"], input[type="email"] {
	width: 100%;
	padding: 0 16px 20px 16px;
	background: transparent;
	outline: 0;
	border: none;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 0.9em;
	color: var(--blue);
}
.quiz-answer .quiz-open {
	position: relative;
}
.quiz-answer .quiz-open::after {
	content: '';
	width: 15%;
	height: 2px;
	background: var(--white);
	position: absolute;
	left: 0;
	bottom: 0;
	transition: all 0.2s ease-in-out;
}
.quiz-answer .quiz-open.quiz-filled::after {
	background: var(--blue);
}
.quiz-answer input[type="text"]:focus~.quiz-open::after {
	width: 100%;
	background: var(--blue);
}